{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "58",
        "edge": "14",
        "firefox": "54",
        "safari": "10"
      }
    }],
    "@babel/preset-react"
  ]
}